PORT=4000
NODE_ENV=development
DATABASE_URL="mysql://root:your_password@your_host:3306/your_database"
JWT_ACCESS_SECRET="your_access_secret"
JWT_REFRESH_SECRET="your_refresh_secret"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
ADMIN_USER_IDS=""
ADMIN_TYPES="1"
